body {
font-family: roboto;
}

.header {
    height: 200px;
    max-width: auto;
    font-size: 24px;
    background-color: #1f2937 ;
    color: white;
    font-family: Roboto;
    padding: 10px;
}

li{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}