body {
font-family: roboto;
flex: 1;
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.header {
    font-size: 24px;
    justify-content: center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }

  .header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1f2937 ;
    color: white;
    font-family: Roboto;
  }
  
  .footer {
   display: flex;
   margin: 0;
   padding: 0;
   gap: 16px;
   justify-content: center;
  }