body {
  width: auto;
  display: flex;
  flex-direction: column;
}



.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  flex-direction: row;
  height: auto;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  height: 100px;
  width: 100px;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  padding: 16px;
}

.hero-secondary-text, .header-link-text {
  font-size: 18px;
  color: #E5E7Eb;
}

.info-header {
font-size: 36px;
font-weight: bolder;
color: #1f2937;
display: flex;
justify-content: center;
align-items: center;
}

.info {
  justify-content: center;
  display: flex;
  justify-content: center;
  gap: 52px;
}

info-text {
  max-width: 200px;
}

  .header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1f2937 ;
    color: white;
    font-family: Roboto;
  }
  
  .footer {
   display: flex;
   margin: 0;
   padding: 0;
   gap: 16px;
   justify-content: center;
  }

